	
<div>

<div ng-if="testModel == true">

	<div class="ibox">
		<div class="ibox-title-internal">
			<h5>Test Data</h5>
		</div>
		<div class="ibox-content">
		dataSource: {{info.dataSource}} <br>
		info.mapping : {{info.mapping}}
		</div>
	</div>
	
</div>

<div class="ibox">
	<div class="ibox-title-internal">
		<h5>{{info.title}}</h5>
	</div>
	<div class="ibox-content">
		<form class="">
			
			<div class="row" class="form-group" ng-repeat="item in info.mapping">
				<label  class="control-label col-sm-4">
					{{item.name}}
				</label >
				<div class="col-sm-8">
					
<!-- 					<p ng-if="item.type == 'text'"></p>
<input ng-if="item.type == 'text' &&" type="text" ng-model="info.dataSource[item.key]"> -->


				</div>
			</div>
			<div style="clear:both;"></div>
		</form>		
	</div>
</div>


</div>
 