
<div>
	
	<div ng-if="testModel == true">

		<div class="ibox">
			<div class="ibox-title-internal">
				<h5>Test Data</h5>
			</div>
			<div class="ibox-content">
			{{ info.dataSource }}
			</div>
		</div>
		
	</div>

	<div class="ibox">
		<div class="ibox-title-internal">
			<h5>{{ info.title }}</h5>
			<button ng-click="formCtrl.testEditFunc()">testEdit</button>
		</div>
		<div class="ibox-content">
			<form class="">
				
				<div class="form-group" ng-repeat="item in  info.mapping">
					<label  class="control-label col-sm-4">
						{{item.name}} {{item.edit}}
					</label >
					<div class="col-sm-8">
						
						<formtext ng-if="item.type == 'text'" ng-init="edit = item.edit"></formtext>

					</div>
				</div>
				<div style="clear:both;"></div>
			</form>		
		</div>
	</div>
	

</div>
