<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
		body {
			background-color:white;
		}
    </style>
</head>
<body>

<div ng-controller='myTestForm as ctrl'>
	<autoform sourceKey="myTestForm"></autoform>
</div>

<script type="application/javascript" src="../Js/angular/angular.js"></script>
<script type="text/javascript">


	var dataSource = {
		a:"a1",
		b:"b2",
		c:false,
		d:"value1"
	};

	var autoFormDisplayTypeEnum = {
		text : "text",
		checkbox:"checkbox",
		select : "select",
		radio:"radio"
	};

	var myApp = angular.module("myApp",['directives','controllers']);

	var controllers = angular.module("controllers",[]);
	controllers.controller('myTestForm',function($scope) {
		var sourceKey = "myTestForm";
		$scope['testModel'] = true;
		$scope[sourceKey] = {};
		$scope[sourceKey]["title"] = "myTest title";
		$scope[sourceKey]["dataSource"] = dataSource;
		$scope[sourceKey]["mapping"] = [
			{ 
				key : "a",
				name:"my A",
				type:"text",
				edit:true,
				require:true
			},
			{
				key : 'b',
				name:"my A",
				type:"text",
				require:true
			}
		];
	});

	var directives = angular.module("directives",[]);
	directives.directive('autoform',function() {
		return {
			restrict :'EA',
			templateUrl :'formTemplate.html',
			scope:true,
			controller: autoFormController,
			controllerAs : 'formCtrl'
		};
	});

	directives.directive('formtext',function() {
		return {
			restrict :'EA',
			template :'<p ng-if="!formCtrl.editFlag">text {{edit}}</p><input ng-if="edit & formCtrl.editFlag" />',
			//template:'<p>hahahahaha</p>',
			scope:true,
			controller:formElementCommon
		};
	})

	function autoFormController($scope,$element,$rootScope) {
		var sourceKey = $element.attr('sourceKey');
		
		var me = this;
		me.sourceKey = sourceKey;
		me.rootScope = $rootScope;
		$scope.info = $scope[sourceKey];

		$scope.$watch('formCtrl.rootScope[formCtrl.sourceKey + "editFlag"]',function() {
			debugger;
			me.editFlag = me.rootScope[me.sourceKey + "editFlag"];
		});

		this.testEditFunc = function() {
			me.rootScope[me.sourceKey + "editFlag"] = true;
		};
	}

	function formElementCommon($scope,$element)
	{
	
		var sourceKey = $element.attr('sourceKey');
		this.sourceKey = sourceKey;

		var edit = $element.attr('edit');
		debugger;
		if(edit == "true")
			$scope.edit = true;
		else 
			$scope.edit = false;
	}


</script>
</body>
</html>
